# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Brackeys Game jam 2021.1.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\MMXXXVIII\Things\CodingStuff\Unity\Brackeys Game jam 2021.1\.idea\.idea.Brackeys Game jam 2021.1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
